* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: 'Open Sans', sans-serif;
}

/* Spotify */
#spotify {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

 #sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 230px;
  background-color: black;
}

.sidebar-top__logo img {
    width: 143px;
    padding: 20px 0 20px 20px;
}

#sidebar__main-menu {
  color: gray;
  padding-left: 20px;
}

#sidebar__main-menu ul li {
  margin: 15px 0;
}
#sidebar__playlist {
  padding-left: 20px;
  color: gray;
}

#sidebar__playlist p {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
#sidebar__playlist h3 {
  padding: 10px 0;
}
#sidebar__playlist i {
  background: gray;
  color: #000;
  font-size: 18px;
  padding: 8px 9px;
  margin-top: 5px;
  margin-right: 5px;
}

#sidebar__playlist ul li {
  margin: 10px 0;
}

#sidebar-bottom {
  padding-left: 20px;
  color: gray;
}

.sidebar-bottom__intall-app {
  border-bottom: 1px solid #606060;
  padding-bottom: 10px;
}

.sidebar-bottom__intall-app i {
  border: 1px solid #606060;
  border-radius: 50%;
  margin-right: 5px;
  padding: 2px;
  font-size: 7px;
  vertical-align: middle;
}

.sidebar-bottom__intall-app a {
  text-decoration: none;
  color: gray;
}

.sidebar-bottom__account {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 10px;
}

.sidebar-bottom__account a i{
  margin-right: 10px;
}

.sidebar-bottom__account .fa-user-tie {
  color: gray;
}

.content__top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: rgba(0,0,0, .4);
    z-index: 1;
}
#content .content__scrollable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /* 90px = height di content-top-bar */
    padding: 90px 15px 30px;
    display: flex;
    flex-direction: column;
}

.top-bar__btn a {
  text-decoration: none;
  border: 1px solid #fff;
  font-weight: 500;
  font-size: 14px;
  border-radius: 19px;
  padding: 12px 35px;
  color: white;
  text-transform: uppercase;
}

.top-bar__btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
  padding: 20px;
}

.content__scrollable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 90px 15px 30px;
  display: flex;
  flex-direction: column;
}

.scrollable-menu {
  padding: 20px 0;
}

.menu_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
.menu_list li a {
  text-decoration: none;
  margin-right: 15px;
  color: gray;
}

#main-wid {
  display: flex;
}

#content {
  position: relative;
  background: #fff;
}

#player {
    display: flex;
    justify-content: space-between;
    background: #333;
    padding: 10px 5px;
    flex-basis: 60px;
  }

.flexGrow--1 {
  flex-grow: 1;
}

.listStyleNone{
  list-style: none;
}
.sidebar-top__logo-sm {
  display: none;
}

/*Media Query Small devices */
@media all and (max-width: 600px) {
  #sidebar {
    flex-basis: 50px;
  }

  .sidebar-top__logo {
    display: none;
  }

  .sidebar-top__logo-sm {
    display: block;
    width: 35px;
    padding-top: 10px;
    margin: 0 auto;
  }

#sidebar-bottom {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}
.sidebar-bottom__account {
  margin-left: 0;
  justify-content: center;
}
.sidebar-bottom__account a i {
  margin-right: 0;
  text-align: center;
}
  #sidebar__main-menu ul li i {


  }

  #sidebar__main-menu {
     padding-left: 0;
     text-align: center;
  }

  #dispnone,
  #sidebar__playlist,
  .sidebar-bottom__intall-app a,
  .sidebar-bottom__account h3{
    display: none;
  }

  .sidebar-bottom__intall-app {
    border-bottom: 0;
    text-align: center;
  }

  .sidebar-bottom__intall-app i {
      margin-right: 0;
      }
}
@media all and (max-width: 1024px) and (min-width: 601px) {

}
